body {
    font-family: 'Courier New', sans-serif;
    font-size: 12px;
    line-height: 1.2;
    background-image: linear-gradient(to bottom right, #8e9eab, #eef2f3);
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .centered-label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  button {
    width: 150px;
    padding: 5px; /* Reduced padding */
    border: 2px solid #8e9eab;
    border-radius: 10px;
    font-size: 12px; /* Reduced font size */
    outline: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  select {
    width: 200px;
    padding: 5px; /* Reduced padding */
    height: 30px; /* Set a fixed height */
    border: 2px solid #f2f5f8;
    border-radius: 10px;
    font-size: 12px; /* Reduced font size */
    outline: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-appearance: none; /* Remove the default appearance */
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%238e9eab" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat;
    background-position: right 0.5em center; /* Position the custom arrow */
    background-size: 1.25em 1.25em;
    background-color: white;
    padding-right: 1.75em; /* Add padding to the right to make room for the custom arrow */
  }
  
  input[type="text"]:focus,
  select:focus,
  input[type="date"]:focus,
  input[type="time"]:focus {
    box-shadow: 0 0 5px #8e9eab;
  }
  
  button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #reminder-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  #reminder-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border: 2px solid #8e9eab;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  #reminder-list li:hover {
    transform: translateY(-5px);
  }
  
  #reminder-list li span {
    margin-left: 10px;
    font-weight: bold;
    flex-grow: 1;
  }
  
  #reminder-list li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #reminder-list li button:hover {
    background-color: #c0392b;
  }
  
  #reminder-list li .reminder-name,
  #reminder-list li .reminder-frequency {
    flex-grow: 2;
    text-align: center;
  }

  #reminder-list li .reminder-time {
    flex-grow: 1;
    text-align: center;
    font-size: small;
  }
  
  #reminder-list li .reminder-name {
    font-weight: bold;
    font-display: bold; ;
  }
  
  #reminder-list li .reminder-frequency,
  #reminder-list li .reminder-time {
    font-style: italic;
  }
  